 <!-- Top Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Express Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"> <i class="fa-solid fa-address-card"></i>About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-address-book"></i>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/project"><i class="fa-sharp fa-solid fa-book"></i>Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/service"><i class="fa-sharp fa-solid fa-gear"></i>Service</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>