<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  
  <!-- CSS Section -->
  <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Replace "style.css" with the actual filename and path if needed -->
  
  <style>
    /* Add custom CSS for positioning the image */
    .profile-image {
      float: right;
      width: 150px; /* Adjust the width as needed */
      margin-left: 20px; /* Adjust the margin as needed */
    }
  </style>
</head>
<body>
  <!-- Top Navigation Bar -->
  <!-- Your top navigation bar here -->
  
  <main class="container">
    <img src="/Images/DP_LouieGo.jpg" alt="Personal Image" class="profile-image">
    <h1>About Me</h1>
    <p>Hello, I am Louie Go.</p>
    <p>I am graduate of Bachelor of Science in Information Technology</p>
    <p>with expertise in Web Application Development,</p>
    <p>Database Management, C# and Java Programming</p>
    <p>I am passionate about learning new knowledge.</p>
    <!-- Add any other personal details or information here -->

    <a href="/Resume/C.V_LouieGo2.pdf" class="cv-link" target="_blank">My C.V./Resume</a>
  </main>

  <!-- Footer -->
  <!-- Your footer section here -->
</body>
</html>



<%- include partials/footer.ejs %>